<!DOCTYPE html>
<html>
<head>
  <title>MmGallery</title>
  <%= stylesheet_link_tag    "mm_gallery/application", :media => "all" %>
  <%= javascript_include_tag "mm_gallery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
